.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
uploads/about/*
uploads/article/*
uploads/certificate/*
uploads/customer/*
uploads/policy/*
uploads/product/*
uploads/product_category/*
uploads/product_description/*
uploads/raw_material/*

/application/views/lexa.django.themesbrand.com
/application/views/lexa.django.themesbrand.com.zip