# Database Configuration
DB_HOSTNAME="localhost"
DB_USERNAME="ekapratama"
DB_PASSWORD="11140435"
DB_DATABASE="pancanature"
DB_DRIVER="mysqli"

#Recaptcha Google
RECAPTCHA_KEY="6LfbHacbAAAAAJl3VrxH8RZDcCZJ9Vp52CrIRnmi"